################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/worker/.wrangler/cache/wrangler-account.json
